Body {
    background-image: url(./images/ambitious-creative-co-rick-barrett-G2-AyQZwMME-unsplash\ \(1\).jpg);
    background-position: 25%;
    color: #fff;
    font-weight: 600;
}

#overlay {
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
}


#totalPrice {
    font-size: 36px;
    display: inline-block;
    padding-left: 25px;

}

#total-price-title {
    display: inline-block;
    padding-left: 15px;
}

.item-qty input {
    color: #222;
}

  #item, #price {
    color: #222;
}

@media (max-width: 992px) {
    .item-qty, .btn-danger {
        font-size: 10px;
    }
    .btn-danger {
        padding-right: 10px;
    }

    #item, #price, #addProduct {
        font-size: 12px;
    }

}

@media (max-width: 767px) {
    .sub-total {
        margin-left: 1px;
    }
    .btn-danger {
        font-size: 8.5px;
    }
    #item, #price, #addProduct {
        font-size: 10px;
    }
}

@media (max-width: 576px) {
    .item-qty {
        font-size: 8px;
        margin-right: 28px;
        margin-top: 2px;
    }
    .btn-danger {
        font-size: 5.5px;
        padding-bottom: 5px;
    }
    #addProduct {
        margin-left: 75px;
    }

    #price {
        margin-left: 40px;
        font-size: 9px;
    }

    #item {
        font-size: 9px;
    }
}



